@import "_reset.scss";

$primary-color: #59b9b7;
$gray-light: #848484;
$gray-bg: #f8f7f7;

body {
  background-color: white;
}

p {
  color: $gray-light;
}

h1,
h2,
h3,
blockquote {
  font-family: "Quicksand", sans-serif;
}

.title--primary {
  text-align: center;
  color: $primary-color;

  @media only screen and (min-width: 600px) {
    font-size: 54px;
    margin-block-start: 0.53em;
    margin-block-end: 0.53em;
  }
}

.cta {
  background-color: transparent;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  font-size: 0.9rem;
  font-weight: 800;
  letter-spacing: 1.3px;
  min-width: 10rem;
  padding: 15px 10px;
  text-transform: uppercase;
  transition: all 0.5s;

  &--primary {
    color: white;
    border: 1px solid white;

    &:focus,
    &:hover {
      background-color: white;
      color: $primary-color;
    }
  }

  &--secondary {
    background-color: $primary-color;
    color: white;
    border: 2px solid $primary-color;

    &:focus,
    &:hover {
      background-color: transparent;
      color: $primary-color;
    }
  }
}

.hero {
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 50%);

  .cta {
    margin-top: 1rem;
  }

  &__image {
    width: 100%;
    height: 100%;
    grid-column: 1/-1;
    grid-row: 1;
    object-fit: cover;
  }

  &__content {
    background-color: rgba($primary-color, 0.9);
    display: flex;
    grid-row: 1;
    grid-column: 1/-1;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;

    @media only screen and (min-width: 600px) {
      background-color: rgba($primary-color, 0.6);
      grid-column: 2;
      grid-row: 1;
    }
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: 0.8rem;
    font-size: 1.5rem;

    @media only screen and (min-width: 600px) {
      font-size: 2.5rem;
    }
  }

  &__copy {
    margin-bottom: 2.5rem;
    font-size: 0.9rem;
  }
}

.featured {
  min-height: 50vh;
  display: grid;
  align-content: center;
  padding: 40px 20px;
  background-color: white;
  margin: 0 auto;
  max-width: 120ch;

  @media only screen and (min-width: 600px) {
    padding: 0 50px;
    min-height: 70vh;
  }
}

.dropdown {
  &__input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
  }

  &__copy {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: $gray-light;
    line-height: 1.6;
    margin-bottom: 5px;
  }

  &__input:focus ~ label {
    outline: -webkit-focus-ring-color auto 5px;
  }

  &__input:checked + &__copy {
    -webkit-line-clamp: unset;
  }

  &__input:checked ~ label img {
    transform: rotate(-90deg);
  }

  &__button {
    display: grid;
    justify-content: right;
    padding: 0 20px;
    opacity: 0.3;
    img {
      width: 20px;
      height: 20px;
      transform: rotate(90deg);
    }
  }
}

.props {
  min-height: 50vh;
  display: grid;
  align-content: center;
  padding: 40px 20px;
  background-color: $gray-bg;
  margin: 0 auto;
  max-width: 120ch;

  @media only screen and (min-width: 600px) {
    padding: 0 0 0 50px;
    grid-template-columns: 40% 60%;
    min-height: auto;

    &__video {
      grid-column: 2;
      text-align: center;
      position: relative;
      margin-top: 0;
      padding-left: 40px;
      align-self: center;
    }

    &__content {
      padding: 80px 0;
    }
  }

  @media only screen and (min-width: 120ch) {
    &__video {
      align-self: auto;
      iframe {
        width: 90%;
        height: 90%;
        position: absolute;
        right: 0;
        top: -20%;
      }
    }
  }

  &__video {
    margin-top: 30px;

    iframe {
      max-height: 400px;
    }
  }

  &__price {
    color: $primary-color;
    font-weight: 500;
  }

  &__action {
    margin: 20px 0;
    display: grid;
    grid-gap: 20px;
    justify-content: center;

    @media only screen and (min-width: 600px) {
      margin-top: 40px;
      text-align: left;
      justify-content: flex-start;
      grid-gap: 10px;
    }
  }
}

.cards {
  max-width: 120ch;
  margin: 30px auto;

  @media only screen and (min-width: 900px) {
    margin: 120px auto;
  }

  &__copy {
    margin: 20px 40px 40px 40px;
    text-align: center;

    @media only screen and (min-width: 900px) {
      max-width: 60ch;
      margin: 20px auto 80px auto;
    }
  }

  &__wrapper {
    @media only screen and (min-width: 600px) {
      display: grid;
      grid-template-columns: repeat(2, 50%);
    }

    @media only screen and (min-width: 900px) {
      grid-gap: 20px;
      grid-template-columns: repeat(4, calc(25% - 15px));
    }
  }
}

.card {
  &__item {
    display: grid;
    grid-template: 1fr/1fr;
    position: relative;
    align-items: center;
    transition: all 0.5s;

    &:after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(black, 0.6);
    }

    &:hover {
      .card__item-cover {
        display: none;
      }

      .card__item-back {
        display: block;
      }

      .card__item-cta {
        color: white;
      }

      &::after {
        background-color: rgba($primary-color, 0.8);
      }
    }
  }

  &__item-copy,
  &__item-description,
  &__item-duration,
  &__item-cta {
    font-size: 14px;
  }

  &__item-duration,
  &__item-title,
  &__item-copy,
  &__item-name,
  &__item-description {
    color: white;
    padding: 0 10px;
  }

  &__item-duration,
  &__item-title {
    margin: 0;
  }

  &__item-cta {
    color: $primary-color;
    z-index: 2;
    padding: 0 0 20px 20px;
    font-weight: 900;
    cursor: pointer;
    width: 100%;

    &:hover {
      opacity: 0.7;
    }
  }

  &__item-image,
  &__item-cover,
  &__item-back {
    width: 100%;
    grid-column: 1/-1;
    grid-row: 1;
    text-align: center;
    position: relative;
  }

  &__item-cover,
  &__item-back {
    z-index: 2;
  }

  &__item-back {
    display: none;
  }

  &__item-cta {
    position: absolute;
    bottom: 0;
  }
}

blockquote {
  position: relative;
  z-index: 2;
  font-size: 14px;
  color: $gray-light;
  margin: 0 auto;

  @media only screen and (min-width: 600px) {
    max-width: 60ch;
  }
}

blockquote:before,
blockquote:after {
  display: inline-block;
  height: 40px;
  font-size: 80px;
  opacity: 1;
  position: absolute;
  color: #595959;
  line-height: 80px;
}

blockquote:before {
  content: "\201C";
  top: -8px;
  left: -40px;
}

blockquote:after {
  content: "\201D";
  bottom: 0;
  right: 0;
  margin-right: -20px;
}

.testimonies {
  background: $gray-bg;
  padding: 30px 0;
  position: relative;

  .flickity-page-dots {
    position: absolute;
    bottom: 20px;
  }

  .flickity-page-dots .dot {
    background-color: $primary-color;
  }

  @media only screen and (min-width: 600px) {
    padding: 120px 0;
  }

  &__item {
    width: 100%;
    max-width: 120ch;

    @media only screen and (min-width: 600px) {
      padding: 0 80px;
    }
  }
}

.newsletter {
  padding: 0 50px;
  min-height: 40vh;
  display: grid;
  align-content: center;
  text-align: center;
  background: rgb(105, 191, 190);
  background: linear-gradient(
    90deg,
    rgba(105, 191, 190, 1) 0%,
    rgba(77, 152, 184, 1) 100%
  );

  &__wrapper {
    max-width: 120ch;
    padding-top: 30px;
    margin: 0 auto;
  }

  &__title,
  &__copy,
  legend {
    color: white;
  }

  &__copy {
    width: 50ch;
    margin: 0 auto;
    font-size: 14px;
    letter-spacing: 0.08em;
  }

  legend {
    text-transform: uppercase;
    margin: 20px 0 30px;
  }

  form {
    padding-bottom: 60px;
    max-width: 80ch;
    margin: 0 auto;
  }

  input {
    width: 60ch;
    border: 0;
    background: transparent;
    color: white;
    height: 30px;
    padding: 0 10px;
    font-weight: 900;
    border-bottom: 1.5px solid white;
    font-weight: 100;

    &::placeholder {
      opacity: 0.4;
      color: white;
      font-weight: 100;
    }
  }

  button {
    cursor: pointer;
    background-color: white;
    border: 0;
    height: 30px;
    padding: 0 30px;
    font-family: "Quicksand", sans-serif;
    color: $primary-color;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 12px;
    position: relative;
    top: 1.2px;
    right: 4px;

    &:hover {
      opacity: 0.7;
    }
  }
}
