---
layout: layouts/base.njk
title: Title Strings
---

<article class="hero">
    <img class='hero__image' src="images/hero.jpg" alt="">
    <div class="hero__content">
        <img class="logo" src="images/10access_logo.svg" alt="">
        <h1 class="hero__title">Combinamos los últimos y más recientes avances globales en Market Access, aspectos legislativos y de política pública claves para el sector farmacéutico, con el mejor conocimiento práctico en sistema de salud, valor terapéutico, modelos de contratación, rutas de atención de pacientes, economía de la salud, evaluaciones de eficacia y seguridad y estrategias efectivas de acceso a mercados, hemos creado el primer curso 100% online de Market Access.</h1>
        <div class="hero__copy">Durante 2 meses - 15 min al día </div>
        <div class="hero__price">$599.000  <span>COP</span></div>
        <button class="cta cta--primary">Comprar</button>
    </div>
</article>


<article class="featured">
    <h2 class="featured__title title--primary">¿Quiénes somos?</h2>
    <div class="dropdown">
        <input type="checkbox" id="featured-expanded" class="dropdown__input" />
        <p class="dropdown__copy featured__copy">
            Somo un grupo de médicos, consultores, empresarios y negociadores con más de 5 años de experiencia creando insumos y estrategias exitosas de acceso en el sector salud y farmacéutico. Hemos cerrado acuerdos exitosos con más de 20 multinacionales farmacéuticas, aseguradores y prestadores. 
        </p>

        <p>
        Aprendizajes diarios de 15 min, cuando quiera y como quiera. Cómodamente desde su celular
        </p>
    </div>
</article>

<article class="props">
    <div class="props__content">
        <h2 class="props__title title--primary">Beneficios del curso</h2>
        <p class="props__copy">
        </p>
        <div class="dropdown">
            <input type="checkbox" id="props-expanded" class="dropdown__input" />
            <ul>
                <li class="dropdown__copy props__copy">1. Aprenderá cuáles son las diferentes dimensiones del Market Access y sabrá cómo utilizarlas con éxito.</li>
                <li class="dropdown__copy props__copy">2. Tendrá un conocimiento profundo y útil de cada una de ellas y podrá ejecutarlas a necesidad</li>
                <li class="dropdown__copy props__copy">3. Tendrá una nueva visión del Market Access. Entenderá que este es transversal a toda la compañía y que cada miembro del equipo debe hacer parte activa de la estrategia de acceso</li>
                <li class="dropdown__copy props__copy">4. Desarrollará habilidades diferenciadoras que lo llevarán a proponer y ejecutar estrategias de Market Access exitosas.</li>
                <li class="dropdown__copy props__copy">5. Entenderá cómo es la ruta de los pacientes al interior sistema de salud, cómo los pacientes transitan por ella y usted cómo puede agregar valor con su producto </li>
                <li class="dropdown__copy props__copy">6. Sabrá qué insumos técnicos necesita para ejecutar una estrategia de Market Access exitosa con un producto farmacéutico en particular. </li>
                <li class="dropdown__copy props__copy">7. Sabrá cuándo y dónde su estrategia de acceso necesita de insumos técnicos provenientes de la farmacoeconomía, los estudios de eficacia y seguridad y otras herramientas, para tener éxito en su estrategia</li>
                <li class="dropdown__copy props__copy">8. Sabrá qué insumos técnicos necesita su estrategia de acceso, dependiendo el producto y el pagador y la situación legislativa del momento.</li>
                <li class="dropdown__copy props__copy">9. Tendrá un entendimiento útil de las principales leyes que afectan al sector farmacéutico, cómo interpretarlas y cómo lo afectan</li>
                <li class="dropdown__copy props__copy">10. Adicionalmente tendrá acceso al único curso de negociación enfocado en el sector farmacéutico</li>
            </ul>
        </div>
        <div class="props__action">
            <div class="props__price">$599.000  <span>COP</span></div>
            <button class="cta cta--secondary">comprar</button>
        </div>
    </div>
    <div class="props__preview">
        <img src="images/video.jpg" alt="">
        <div class="play">
            <img src="images/play.svg" alt="">
            <span>Reproducir Video</span>
        </div>
    </div>
    <dialog class="props__video">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/9P16xvwMQ5A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <i class=" close far fa-times-circle"></i>
    </dialog>
</article>

<article class="cards">
    <h2 class="cards__title title--primary">Contenido gratuito</h2>
    <p class="cards__copy">Texto corrido introductorio, expectativas del contenido, beneficios de 10 Access. Lorem ipsum dolor sit amet.
    </p>
    <div class="cards__wrapper">
        <div class="card__item">
            <img src="images/card.jpg" alt="" class="card__item-image">
            <div class="card__item-cover">
                <p class="card__item-duration">Duración 15 min</p>
                <h3 class="card__item-title">Clase 1</h3>
                <p class="card__item-copy">Datos claves de la clase</p>
            </div>
            <div class="card__item-cta">
                <span>+</span>
            ir a la clase</div>
        </div>
        <div class="card__item">
            <img src="images/card.jpg" alt="" class="card__item-image">
            <div class="card__item-cover">
                <p class="card__item-duration">Duración 15 min</p>
                <h3 class="card__item-title">Clase 1</h3>
                <p class="card__item-copy">Datos claves de la clase</p>
            </div>
            <div class="card__item-cta">
                <span>+</span>
            ir a la clase</div>
        </div>
        <div class="card__item">
            <img src="images/card.jpg" alt="" class="card__item-image">
            <div class="card__item-cover">
                <p class="card__item-duration">Duración 15 min</p>
                <h3 class="card__item-title">Clase 1</h3>
                <p class="card__item-copy">Datos claves de la clase</p>
            </div>
            <div class="card__item-cta">
                <span>+</span>
            ir a la clase</div>
        </div>
        <div class="card__item">
            <img src="images/card.jpg" alt="" class="card__item-image">
            <div class="card__item-cover">
                <p class="card__item-duration">Duración 15 min</p>
                <h3 class="card__item-title">Clase 1</h3>
                <p class="card__item-copy">Datos claves de la clase</p>
            </div>
            <div class="card__item-cta">
                <span>+</span>
            ir a la clase</div>
        </div>
    </div>
</article>


<article class="testimonies">
  <div class="testimonies__item">
    <blockquote>
            Un curso con temática completa e interesante.
        <figcaption class="quote-by">Andres Perez</figcaption>
    </blockquote>
  </div>
  <div class="testimonies__item">
      <blockquote>
            Vale la pena tomar el curso por su fácil acceso y temas que aportan a mi conocimiento
   <figcaption class="quote-by">Valeria Lopez</figcaption>
    </blockquote>
  </div>
</article>

<article class="newsletter">
    <div class="newsletter__wrapper">
        <h2 class="newsletter__title title--primary">Suscríbete</h2>
    <p class="newsletter__copy">
        Próximamente lanzamiento
        </br> Daremos descuento del 10% a los primero 50 estudiantes 
    </p>

    <form id="newsletter-form">
        <legend>Correo electrónico:</legend>
        <input name="email" type="email" placeholder="Ingresa tu correo electrónico" required>
        <button id="newsletter-submit" type="submit">Enviar</button>
    </form>
    </div>
</article>

<footer class="footer">
    <div class="footer__wrapper">
        <ul class="footer__language">
            <li><a href="">ESP</a></li>
            <li><a href="">ENG</a></li>
        </ul>
        <ul class="footer__nav">
            <li><a href="">Contactenos</a></li>
            <li><a href="">Terminos y condiciones</a></li>
        </ul>
        <ul class="footer__social">
            <li><a href="">
                <i class="fab fa-twitter"></i>
            </a></li>
            <li><a href="">
                <i class="fab fa-linkedin-in"></i>
            </a></li>
            <li><a href="">
                <i class="fab fa-youtube"></i>
            </a></li>
            <li><a href=""></a></li>
        </ul>
        <a href="#" class="footer__chat">
            <span>chat en linea</span>
            <i class="fab fa-whatsapp footer__chat-icon"></i>
        </a>
    </div>
</footer>